<!DOCTYPE html>
<html>
<head>
    <title id="my_title">Shir's CV</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' href='../stylesheets/CV.css'>
    <script src="../javascripts/CV.js"></script>
</head>
<body onload="change_title()">
    <div class="grid container">
        <div class="box header">Shir Menashe's CV</div>
        <p>
            This is an HTML page for my CV as part of Summer WEB Course.
        </p>
        <div class="box sidebar">
            <ul>
                <li><a href='http://localhost:3000/Contact_me'>Contact Me</a></li>
            </ul>
      </div>
</body>
</html>